.homeHead {
    //border: 1px solid $color-grey;
    position: relative;
    height: 450/16+rem;
    width: 100%;
    @include responsive(1000px) {
        height: 300/16+rem;
    }
    @include responsive($tablet) {
        height: 250/16+rem;
    }
    &__img--ctn {
        width: 100%;
        position: absolute;
        height: inherit;
        z-index: -10;
        &#money {
            background-image: url('./assests/images/money2.jpg');
            background-size: 100% 100%;
        }
        &#passport {
            background-image: url('./assests/images/passport2.jpg');
            background-size: 100% 100%;
        }
        &#license {
            background-image: url('./assests/images/license1.jpg');
            background-size: 100% 100%;
        }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: inherit;
        background-color:  rgba(10, 10, 10, 0.6);
        z-index: -7;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16/16+rem;

        & .circle {
            width: 25/16+rem;
            height: 25/16+rem;
            margin-right: 25/16+rem;
            font-size: 16/16+rem;
            display: inline-block;
            align-self: baseline;
            @include responsive(1000px) {
                height: 20/16+rem;
                width: 20/16+rem;
            }
        }
        & #circle1 {
            border-radius: 50%;
            border: 5px solid $color-primary;
        }

        & #circle2 {
            border-radius: 50%;
            border: 5px solid $color-grey;
        }

        & #circle3 {
            border-radius: 50%;
            border: 5px solid $color-grey;
        }

    }
    &__title {

        & span {
           & mark {
               color: rgb(1, 1, 10);
               background-color: transparent;
           }
        }
        &#moneyTitle {
            position: absolute;
            top: 30%;
            /*@include responsive(700px) {
                top: 15%;
            }*/
        }
        &#passportTitle {
            position: absolute;
            top: 30%;
           /* @include responsive(700px) {
                top: 15%;
            }*/
        }
        &#licenseTitle {
            position: absolute;
            top: 30%;
            /*@include responsive(700px) {
                top: 15%;
            }*/
        }
        @include responsive(1000px) {
            font-size: 3.5rem;
        }
        @include responsive($tablet) {
            font-size: 3rem;
        }
        @include responsive(700px) {
            font-size: 2.5rem;
        }
    }
    &__order-btn {
        @include center(70%);
        padding: 1.5rem;
        background-color: rgb(65, 43, 56);
        color: whitesmoke;
        text: {
            decoration: none;
            align: center;
        }
        &:hover {
            background-color: rgba(65, 31, 52, .5);
            border: 2px solid rgb(1, 1, 10);
        }
        font: {
            size: 1.5rem;
            weight: 600;
            family: monospace;
        }
        border: none; 
        @include responsive(1000px) {
            padding: 1rem;
        }
        /**/
        @include responsive(700px) {
            padding: .5rem;
            border-radius: 50px;
        }
        @include responsive($mobile) {
            font-size: 1rem;
        }

    }
}

.homeBody {
    position: relative;
    z-index: 1;
    margin-top: -10/16+rm;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

.homemain__header {
    padding: 2rem 0 0 0;
    margin-bottom: .8rem;
    width: 100%;
}
.homemain__para {
    width: 100%;
    font: {
        size: 1rem;
    }
    line-height: 1.8rem;
    text: {
        align: justify;
    }
    padding: 0 8rem 0;

    @include responsive(700px) {
        padding: 1rem 2rem;
    }
}
.homemain__services {
    display: grid;
    height: 800/16+rem;
    padding: 0 8rem  4rem;
    margin-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50/16+rem repeat(2, 1fr);
    background-color: rgb(241, 241, 241);
    grid-gap: 1rem;
    position: relative;
    z-index: 25;
    @include responsive(1400px) {
        height: 1050/16+rem;
    }
    @include responsive(900px) {
        padding: 1rem 2rem;
        height: 1000/16+rem;
        grid-template-rows: 30/16+rem repeat(2, 1fr);
    }
    @include responsive($tablet) {
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(5, 1fr);
       padding: 2rem 5rem;
       height: 1600/16+rem;
       grid-template-rows: 20/16+rem repeat(2, 1fr);
    }
    @include responsive(700px) {
        padding: 1rem;
    }
    @include responsive($mobile) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 20/16+rem);
        padding: 2rem;
        height: 3200/16+rem;
        grid-auto-rows: 1fr;
        grid-row-gap: 1rem;
    }
    &--title {
        grid-row: 1/2;
        grid-column: 1/ span 4;
        @include responsive(900px) {
            grid-column: 1/span 4;
        }
        @include responsive($tablet) {
            grid-column: 1/ span 2;
        }
        @include responsive($mobile) {
            grid-column: 1;
            height: 20/16+rem;
        }
    }
    &--card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(26, 45, 78);
        color: whitesmoke;
        padding: 1rem 1rem 2rem;
        &-icon {
            border: 1px solid whitesmoke;
            font-size: 3rem;
            margin-bottom: 1.5rem;
            border-radius: 50%;
            padding: .5rem;
            width: 80/16+rem;
            height: 80/16+rem;
        }
        &-title {
            letter-spacing: .2rem;
            margin: .5rem 0;
            font-size: 1rem;
        }
        &-cont {
            letter-spacing: .1rem;
            margin-bottom: 2rem;
            font-size: .8rem;
        }
        &-detail {
            background-color: whitesmoke;
            color: rgb(23, 55, 78);
            padding: .5rem 1rem;
            text-decoration: none;
            font-size: .9rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        transition: all .4s;
        &:hover {
            background-color: rgb(241, 241, 241);
            color: rgb(23, 55, 78);
            border: 1px solid rgb(23, 55, 78);
            & .homemain__services--card-icon {
                color: whitesmoke;
                background-color: rgb(23, 55, 78);
            }
            & .homemain__services--card-detail {
                background-color: rgb(23, 55, 78);
                color: whitesmoke;
            }
        }
    }
}
.homemain__testimonies {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    height: 70vh;
    position: relative;
    @include responsive(950px) {
            height: 95vh;
        @media screen and (orientation: landscape) {
            height: 150vh;
        }
    }
    
    &--overlay {
        position: absolute;
        background: {
            image: url('./assests/images/passport1.jpg');
            size: 100% 100%;
            position: center;
        }
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        filter: blur(10px);
    }
    &--title {
        background: {
            color: white;
        }
        margin-bottom: 1rem;
        @include responsive($mobile) {
                margin-bottom: .5rem;
            }
    }
    &--des {
        width: 60%;
        color: white;
        font: {
            weight: bold;
            size: 1rem
        }
        margin-bottom: 1rem;
        @include responsive(1100px) {
            width: 80%;
        }
        @include responsive($tablet) {
            width: 80%;
        }
        @include responsive($mobile) {
            width: 98%;
            text-align: center;
        }
    }
    &--testifier {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50%;

        &-img {
            width: 150/16+rem;
            height: 150/16+rem;
            border-radius: 50%;
            @include responsive($tablet) {
                width: 120/16+rem;
                height: 120/16+rem;
            }
        }
        &-detail {
            padding: .5rem;
            margin-top: 1rem;
            width: 60%;
            text-align: center;
            color: white;
            background: {
                color: rgba(26, 45, 74,.7)
            }
            font: {
                size: 1.2rem;
                family: 'Courier New',
                Courier,
                monospace;
            }
            @include responsive($tablet) {
               width: 90%;
               margin-top: .3rem;
            }
            
        }
        &-name {
            color: white;
            text-transform: uppercase;
            font: {
                size: 1.5rem;
                font-weight: bold;
            }
        }
    }
}

.homemain__payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;

    &--title {
        text-align: center;
    }
    &--des {
        padding: 2rem 8rem;
        color: rgb(59, 56, 56);
        text-align: justify;
         font: {
             size: 1.5rem;
             weight: bold
         }
         @include responsive($tablet) {
             padding: 2rem 5rem;
         }
         @include responsive($mobile) {
             padding: 1rem 2rem;
         }
    }
    &--method {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &-img {
            width: 300px;
            height: 100px;

            & img {
                width: 100%;
                height: 100%;
            }
        }

    }
}

.homemain__contact {
    width: 100%;
    height: 70vh;
    background: {
        image: linear-gradient(to right, rgba(255, 255, 255, .0),
        rgba(26, 45, 74, 1) 60%),url('./assests/images/money.jpeg');
    }
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 8rem;
    @include responsive($tablet) {
        justify-content: center;
        padding-right: 0;
        @media screen and (orientation: landscape) {
            height: 120vh;
        }
    }
    @include responsive($mobile) {
        height: 100vh;
        @media screen and (orientation: landscape) {
            height: 120vh;
        }
    }
    

    &--ctn {
        width: 50%;
        align-self: center;
        height: auto;
        @include responsive($tablet) {
            width: 70%;
        }
        @include responsive($mobile) {
            width: 100%;
        }
        &-title {
            color: whitesmoke;
            margin: 1rem 0;
            @include responsive($mobile) {
                text-align: center;
            }
        }
        &-form {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,50/16+rem) 2fr;
            justify-content: center;
            align-items: center;
            grid-gap: 1rem;
            @include responsive($mobile) {
                display: flex;
                flex-direction: column;
                width: 95%;
                padding-left: 5%;
            }

            & input, & select, & textarea, & button {
                background: {
                    color: white
                }
                border: none;
                padding-left: 1rem;
                font-size: 1rem;
                 @include responsive($mobile) {
                     width: 100%;
                     margin-bottom: .3rem;
                 }

            }
            & textarea {
                grid-area: 3/1/4/3;
                padding-top: 1rem;
                 @include responsive($mobile) {
                     padding-top: 1rem;
                 }
               
            }
            & input, & select {
                height: 50/16+rem;
            }
            & button {
                height: 40/16+rem;
                border: none;
                cursor: pointer;
                background-color: rgb(26, 45, 74);
                color: white;
                border: 1px solid whitesmoke
            }
        }

    }
}