.servicespassporthead {
    @include pagehead('./assests/images/passport1.jpg')
}
.servicesbirthcerthead {
    @include pagehead('./assests/images/passport1.jpg')
}
.services {
    display: flex;
    background-color: white;
    padding: 2rem 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-des {
        width: 75%;
        &__title {
          margin: 0 0 2rem;  
        }
        &__ctn {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            &-del {
                width: 75%;
                font: {
                    size: 1rem;
                }
                margin-right: 1rem;
                text-align: justify;
                color: rgb(81, 81, 81)
            }
        }
        &__main {
            margin-top: 1rem;
           font: {
               size: 1rem;
           }
           text-align: justify;
           color: rgb(81, 81, 81)
        }
    }

}