.header {
    width: 100%;
    height: 70/16+rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #afafaf;
    box-shadow: 0px -2px 5px black;
    padding-right: 50/16+rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 30;
    transition: all .3s;
    @include responsive($tablet) {
        padding-right: 0;
    }
    & div {
        width: calc(100%/3);
    }
    &__mail {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, 50/16+rem);
        justify-content: center;
        grid-column-gap: 9/16+rem;
        //responsive
        @include responsive($tablet) {
            justify-content: start;
            grid-column-gap: 13/16+rem;
        }
        &-icon {
            grid-area: 1/1/3/2;
            font-size: 50/16+rem;
            color: $color-primary;
            justify-self: center;
            align-self: center;
            //responsive
            @include responsive($tablet) {
                justify-self: start;
                padding-left: 10/16+rem;
            }
        }
        &-title {
            font-size: 15/16+rem;
            justify-self: start;
            align-self: end;
        } 
        &-email {
            font-size: 12/16+rem;
            align-self: start;
            justify-self: start;
        }   
    }
    &__watsap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &-btn {
            text-decoration: none;
            &-icon {
                font-size: 49/16+rem;
                color: $color-primary;
            }
            &-num { 
                font-size: 15/16+rem;
                color: $color-primary;
                position:absolute;
                top: 25/16+rem;
                margin-left: 8/16+rem
            }
        }

    }
    &__search {
        margin: auto;
        display: flex;
        justify-content: center;
        &-input {
            width: 200/16+rem;
            height: 40/16+rem;
            padding: 8/16+rem;
            border: 1px solid #afafaf;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            &:focus {
                outline: none;
            }
            &-item {
                background-color: rgba(207, 207, 207, 0.145);
            }
        }
    }
    @include responsive($mobile) {
        display: none
    }
}

.navigation {
    width: 100%;
    height: 70/16+rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 30;
    box-shadow: 3px 3px 5px black;
    transition: all .3s;

    &__logo {
        width: calc((100%/7)*2);
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-link {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &-img {
                height: 100%;
            }
        }
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: calc((100%/7)*5);
        &-ctn {
            &:not(:last-of-type) {
                margin-right: 8/16+rem;
            }
            height: 70%;
            display: flex;
            align-items: center;
            cursor: pointer;
            &-anchor {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 8/16+rem;
                text-decoration: none;
                letter-spacing: 1/16+rem;
                color: $color-primary;
                border: 1px solid #3a3a3a;
                transition: all .3s;
                & .svc-ptn {
                    margin-left: 1/16+rem;
                    display: none;
                    transform: rotate(-90deg);
                    font-size: 24/16+rem;
                }
                &:hover {
                    background-color: $color-grey;
                    transform: translateY(-3/16+rem);
                    color: #795252;
                    & .svc-ptn {
                        display: inline-block;
                        color: $color-primary;

                    }
                }
            }
        }

    }
    @include responsive($tablet) {
        display: none;
    }

}
.mobilenav {
    display: none;
    position: relative;
    width: 100%;
    z-index: 40;
    @include responsive($tablet) {
        display: block;
    }
    &__background {
        width: 100%;
        height: 60/16+rem;
        background-color: rgba($color-primary, 1);
        border-bottom: 1px solid #8a8a8a;
        box-shadow: -2px 2px 5px #8a8a8a;
    }
    &__logo {
        @include mobilenav-pos;
        width: calc((100%/8)*2);
        left: 3%;
        &-link {
            width: 100%;
            height: 100%;
            &-img {
                height:100%
            }
        }

    }
    &__valid-check {
        display: none;
       &:checked + .mobilenav__valid-label>span {
           display: none;
       }
       &:checked + .mobilenav__valid-label::before {
           left: 10%;
           top: 40%;
           transform: rotate(45deg)
       } 
       &:checked + .mobilenav__valid-label::after {
            left: 10%;
           top: 40%;
           transform: rotate(-45deg);
       }
       &:checked~.mobilenav__links {
           width: 400/16+rem;
           z-index: 1;
            @include responsive($mobile) {
                padding-top: 6rem;
                width: 100%;
                height: 110vh;
            }
            &>#HOME,
            &>#ABOUT-US,
            &>#SERVICES,
            &>#OUR-WORK,
            &>#ORDER-NOW,
            &>#CONTACT {
                display: block;
            }
            @media screen and (orientation: landscape) {
                height: 130vh;
            }
       }

    }
    &__valid-label {
        @include mobilenav-pos;
        width: 40/16+rem;
        right: 3%;
        border: 1px solid $color-grey;
        padding: 12/16+rem;
        text-align: center;
        & span {
            width: 80%; 
            border: 1.5px solid $color-grey;
            display: block;
            @include center(50%);
            transition: all .3s;
        }
        &::before {
            content: "";
            width: 80%; 
            border: 1.5px solid $color-grey;
            @include center(20%);
            transition: all .3s;
        }
        &::after {
            content: "";
            width: 80%; 
            border: 1.5px solid $color-grey;
            @include center(80%);
            transition: all .3s;
        }
        &:hover::before {
            top: 30%
        }
        &:hover::after {
            top: 70%
        }
    }
    &__links {
        width: 0;
        position: fixed;
        left: 0;
        padding-top: 2rem;
        background: {
            color: $color-primary
            }
        padding-bottom: 1rem;
        height: 100vh;
        transition: .3s;
        overflow-y: scroll;
        @include responsive($mobile) {
            width: 100%;
            padding: 0;
            height: 0;
        }
        z-index: -16;
            &--anchor,
            &--service {
                height: 2.5rem;
                text-align: center;
                position: relative;
                margin-left: 2%;
                padding: 1rem 0;
                font: {
                    size: .8rem,
                }
                transition: all .2s;
                margin-bottom: .5rem;
        }
    }
}

#HOME {
    @include mobile-items;
}
#ABOUT-US {
    @include mobile-items;
}
#SERVICES {
    @include mobile-items;
}
#Passport {
    @include mobile-items-sub;
}
#Counterfeit-Notes {
   @include mobile-items-sub;
}
#IELTS-And-TOEFL {
    @include mobile-items-sub;
}
#Residence-Permit {
    @include mobile-items-sub;
}
#Drivers-License {
    @include mobile-items-sub;
}
#ID-Card {
    @include mobile-items-sub;
}
#Birthcertificate {
    @include mobile-items-sub;
}
#OUR-WORK {
    @include mobile-items;
}
#ORDER-NOW {
    @include mobile-items;
}
#CONTACT {
    @include mobile-items;
}
/*
.sidenav { {

    height: 100%;
    100% Full-height
    width: 0;
    0 width - change this with JavaScript
    position: fixed;
    Stay in place
    z-index: 1;
    Stay on top
    top: 0;
    left: 0;
    background-color: #111;
    Black
    overflow-x: hidden;
    Disable horizontal scroll 
    padding-top: 60px;
    Place content 60px from the top 
    transition: 0.5s;
    0.5 second transition effect to slide in the sidenav 
}

The navigation menu links 
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

When you mouse over the navigation links, change their color 
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

Position and style the close button (top right corner) 
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
Style page content - use this if you want to push the page content to the right when you open the side navigation 
#main {
    transition: margin-left .5s;
    padding: 20px;
}
 On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) 
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
*/

#serviceBtn {
    position: relative;
    &:hover .services {
        display: block;
    }
    
    & .services {
        position: absolute;
        top: 105%;
        z-index: 1000;
        display: none;

        &__link {
            display: inline-block;
            background-color: whitesmoke;
            border: 1px solid $color-grey;
            width: 200px;
            padding: 8/16+rem 12/16+rem;
            font-size: .9rem;
            color: rgb(29, 29, 31);
            text-decoration: none;
        }
    }
}