@keyframes money {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1.1); } }

@keyframes passport {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1.1); } }

@keyframes license {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1.1); } }

@keyframes money-head {
  0% {
    visibility: hidden;
    opacity: 0;
    top: 20%; }
  100% {
    visibility: visible;
    opacity: 1;
    top: 30%; } }

@keyframes passport-head {
  0% {
    visibility: hidden;
    opacity: 0;
    top: 20%; }
  100% {
    visibility: visible;
    opacity: 1;
    top: 30%; } }

@keyframes license-head {
  0% {
    visibility: hidden;
    opacity: 0;
    top: 20%; }
  100% {
    visibility: visible;
    opacity: 1;
    top: 30%; } }

@keyframes order-money {
  0% {
    visibility: hidden;
    opacity: 0;
    top: 85%; }
  100% {
    visibility: visible;
    opacity: 1;
    top: 70%; } }

@keyframes order-passport {
  0% {
    visibility: hidden;
    opacity: 0;
    top: 85%; }
  100% {
    visibility: visible;
    opacity: 1;
    top: 70%; } }

@keyframes order-license {
  0% {
    visibility: hidden;
    opacity: 0;
    top: 85%; }
  100% {
    visibility: visible;
    opacity: 1;
    top: 70%; } }

@media screen and (max-width: 700px) {
  @keyframes money-head {
    0% {
      visibility: hidden;
      opacity: 0;
      top: 5%; }
    100% {
      visibility: visible;
      opacity: 1;
      top: 15%; } }
  @keyframes passport-head {
    0% {
      visibility: hidden;
      opacity: 0;
      top: 5%; }
    100% {
      visibility: visible;
      opacity: 1;
      top: 15%; } }
  @keyframes license-head {
    0% {
      visibility: hidden;
      opacity: 0;
      top: 5%; }
    100% {
      visibility: visible;
      opacity: 1;
      top: 15%; } } }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 80%; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.h1-title {
  color: whitesmoke;
  text-align: center;
  width: 100%;
  font-size: 4rem;
  font-family: monospace; }

.h2-title {
  color: #7a7a7a;
  font-size: 2rem;
  font-family: Georgia,'Times New Roman',Times,serif; }

.header {
  width: 100%;
  height: 4.375rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #afafaf;
  box-shadow: 0px -2px 5px black;
  padding-right: 3.125rem;
  background-color: #cfcfcf;
  position: relative;
  z-index: 30; }
  @media screen and (max-width: 50rem) {
    .header {
      padding-right: 0; } }
  .header div {
    width: calc(100%/3); }
  .header__mail {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 3.125rem);
    justify-content: center;
    grid-column-gap: 0.5625rem; }
    @media screen and (max-width: 50rem) {
      .header__mail {
        justify-content: start;
        grid-column-gap: 0.8125rem; } }
    .header__mail-icon {
      grid-area: 1/1/3/2;
      font-size: 3.125rem;
      color: #0D9CD2;
      justify-self: center;
      align-self: center; }
      @media screen and (max-width: 50rem) {
        .header__mail-icon {
          justify-self: start;
          padding-left: 0.625rem; } }
    .header__mail-title {
      font-size: 0.9375rem;
      justify-self: start;
      align-self: end;
      font-weight: bold; }
    .header__mail-email {
      font-size: 0.75rem;
      font-weight: bold;
      align-self: start;
      justify-self: start; }
  .header__watsap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .header__watsap-btn {
      text-decoration: none; }
      .header__watsap-btn-icon {
        font-size: 3.0625rem;
        color: #0D9CD2;
        font-weight: bolder; }
      .header__watsap-btn-num {
        font-size: 0.9375rem;
        font-weight: bold;
        color: #0D9CD2;
        position: absolute;
        top: 1.5625rem;
        margin-left: 0.5rem; }
  .header__search {
    margin: auto;
    display: flex;
    justify-content: center; }
    .header__search-input {
      width: 12.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      border: 1px solid #afafaf;
      background-color: transparent;
      border-top: none;
      border-right: none;
      border-left: none; }
      .header__search-input:focus {
        outline: none; }
      .header__search-input-item {
        background-color: rgba(207, 207, 207, 0.145); }
  @media screen and (max-width: 40rem) {
    .header {
      display: none; } }

.navigation {
  width: 100%;
  height: 4.375rem;
  display: flex;
  background-color: #cfcfcf;
  position: absolute;
  z-index: 30; }
  .navigation__logo {
    width: calc((100%/7)*2);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .navigation__logo-link {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .navigation__logo-link-img {
        height: 100%; }
  .navigation__links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc((100%/7)*5); }
    .navigation__links-ctn {
      height: 70%;
      display: flex;
      align-items: center;
      cursor: pointer; }
      .navigation__links-ctn:not(:last-of-type) {
        margin-right: 0.5rem; }
      .navigation__links-ctn-anchor {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        text-decoration: none;
        letter-spacing: 0.0625rem;
        font-weight: bold;
        color: #0D9CD2;
        border: 1px solid #3a3a3a;
        transition: all .3s; }
        .navigation__links-ctn-anchor .svc-ptn {
          margin-left: 0.0625rem;
          display: none;
          transform: rotate(-90deg);
          font-size: 1.5rem; }
        .navigation__links-ctn-anchor:hover {
          background-color: #cfcfcf;
          transform: translateY(-0.1875rem);
          color: #9a8a8a; }
          .navigation__links-ctn-anchor:hover .svc-ptn {
            display: inline-block;
            color: #0D9CD2; }
  @media screen and (max-width: 50rem) {
    .navigation {
      display: none; } }

.mobilenav {
  display: none;
  position: relative;
  width: 100%;
  z-index: 30; }
  @media screen and (max-width: 50rem) {
    .mobilenav {
      display: block; } }
  .mobilenav__background {
    width: 100%;
    height: 4.375rem;
    background-color: #0d9cd2;
    border-bottom: 1px solid #8a8a8a;
    box-shadow: -2px 2px 5px #8a8a8a; }
  .mobilenav__logo {
    position: absolute;
    top: 0.625rem;
    height: 3.125rem;
    width: calc((100%/8)*2);
    left: 1.25rem; }
    .mobilenav__logo-link {
      width: 100%;
      height: 100%; }
      .mobilenav__logo-link-img {
        height: 100%; }
  .mobilenav__valid-check {
    display: none; }
    .mobilenav__valid-check:checked + .mobilenav__valid-label > span {
      display: none; }
    .mobilenav__valid-check:checked + .mobilenav__valid-label::before {
      left: 10%;
      top: 40%;
      transform: rotate(45deg); }
    .mobilenav__valid-check:checked + .mobilenav__valid-label::after {
      left: 10%;
      top: 40%;
      transform: rotate(-45deg); }
    .mobilenav__valid-check:checked ~ .mobilenav__links {
      z-index: 100; }
      @media screen and (max-width: 50rem) {
        .mobilenav__valid-check:checked ~ .mobilenav__links > .mobilenav__links--bgd {
          width: 100%;
          left: 0; } }
      @media screen and (max-width: 50rem) {
        .mobilenav__valid-check:checked ~ .mobilenav__links > .mobilenav__links--ctn {
          width: 100%;
          display: block; } }
      @media screen and (max-width: 50rem) {
        .mobilenav__valid-check:checked ~ .mobilenav__links > .mobilenav__links--ctn > .mobilenav__links--ctn-wrapper {
          display: block; } }
      @media screen and (max-width: 40rem) {
        .mobilenav__valid-check:checked ~ .mobilenav__links {
          width: 100%;
          height: 72vh; } }
  .mobilenav__valid-label {
    position: absolute;
    top: 0.625rem;
    height: 3.125rem;
    width: 3.125rem;
    left: 85%;
    border: 3px solid #cfcfcf;
    border-radius: 10px;
    padding: 0.5625rem;
    text-align: center; }
    .mobilenav__valid-label span {
      width: 80%;
      border: 2px solid #cfcfcf;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s; }
    .mobilenav__valid-label::before {
      content: "";
      width: 80%;
      border: 2px solid #cfcfcf;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s; }
    .mobilenav__valid-label::after {
      content: "";
      width: 80%;
      border: 2px solid #cfcfcf;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s; }
    .mobilenav__valid-label:hover::before {
      top: 30%; }
    .mobilenav__valid-label:hover::after {
      top: 70%; }
  .mobilenav__links {
    width: 25rem;
    position: absolute;
    left: 0;
    height: 72vh;
    z-index: -3;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mobilenav__links--bgd {
      position: absolute;
      width: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
      background-color: #0D9CD2;
      transition: width .5s; }
    .mobilenav__links--ctn {
      width: 0;
      height: 100%;
      display: none; }
      .mobilenav__links--ctn-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;
        text-align: center;
        transition: all .5s; }
        .mobilenav__links--ctn-wrapper-anchor {
          width: inherit;
          display: block;
          padding: 1rem;
          text-decoration: none;
          color: #cfcfcf;
          font-weight: bolder;
          transition: all .3s; }
          .mobilenav__links--ctn-wrapper-anchor:hover {
            background-color: #cfcfcf;
            color: #0D9CD2;
            transform: scale(0.9);
            font-size: 1.1rem; }

#serviceBtn {
  position: relative; }
  #serviceBtn:hover .services {
    display: block; }
  #serviceBtn .services {
    position: absolute;
    top: 105%;
    z-index: 1000;
    display: none; }
    #serviceBtn .services__link {
      display: inline-block;
      background-color: whitesmoke;
      border: 1px solid #cfcfcf;
      width: 200px;
      padding: 0.5rem 0.75rem;
      font-size: .9rem;
      color: #1d1d1f;
      text-decoration: none; }

.homeHead {
  position: relative;
  height: 28.125rem;
  width: 100%; }
  @media screen and (max-width: 1000px) {
    .homeHead {
      height: 18.75rem; } }
  @media screen and (max-width: 50rem) {
    .homeHead {
      height: 15.625rem; } }
  .homeHead__img--ctn {
    width: 100%;
    position: absolute;
    height: inherit;
    z-index: -10; }
    .homeHead__img--ctn#money {
      background-image: url("./assests/images/money2.jpg");
      background-size: 100% 100%; }
    .homeHead__img--ctn#passport {
      background-image: url("./assests/images/passport2.jpg");
      background-size: 100% 100%; }
    .homeHead__img--ctn#license {
      background-image: url("./assests/images/license1.jpg");
      background-size: 100% 100%; }
  .homeHead__overlay {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgba(10, 10, 10, 0.6);
    z-index: -7;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem; }
    .homeHead__overlay .circle {
      width: 1.5625rem;
      height: 1.5625rem;
      margin-right: 1.5625rem;
      font-size: 1rem;
      display: inline-block; }
      @media screen and (max-width: 1000px) {
        .homeHead__overlay .circle {
          height: 1.25rem;
          width: 1.25rem; } }
    .homeHead__overlay #circle1 {
      border-radius: 50%;
      border: 5px solid #0D9CD2; }
    .homeHead__overlay #circle2 {
      border-radius: 50%;
      border: 5px solid #cfcfcf; }
    .homeHead__overlay #circle3 {
      border-radius: 50%;
      border: 5px solid #cfcfcf; }
  .homeHead__title span mark {
    color: #01010a;
    background-color: transparent; }
  .homeHead__title#moneyTitle {
    position: absolute;
    top: 30%; }
    @media screen and (max-width: 700px) {
      .homeHead__title#moneyTitle {
        top: 15%; } }
  .homeHead__title#passportTitle {
    position: absolute;
    top: 30%; }
    @media screen and (max-width: 700px) {
      .homeHead__title#passportTitle {
        top: 15%; } }
  .homeHead__title#licenseTitle {
    position: absolute;
    top: 30%; }
    @media screen and (max-width: 700px) {
      .homeHead__title#licenseTitle {
        top: 15%; } }
  @media screen and (max-width: 1000px) {
    .homeHead__title {
      font-size: 3.5rem; } }
  @media screen and (max-width: 50rem) {
    .homeHead__title {
      font-size: 3rem; } }
  @media screen and (max-width: 700px) {
    .homeHead__title {
      font-size: 2.5rem; } }
  .homeHead__order-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    background-color: #01010a;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: monospace;
    border: none; }
    .homeHead__order-btn:hover {
      background-color: rgba(1, 1, 10, 0.5);
      border: 2px solid #01010a; }
    @media screen and (max-width: 1000px) {
      .homeHead__order-btn {
        padding: 1rem; } }
    @media screen and (max-width: 700px) {
      .homeHead__order-btn {
        padding: .5rem;
        border-radius: 50px; } }

.homeBody {
  position: relative;
  z-index: 1;
  margin-top: -0.625rm;
  width: 100%;
  background-color: whitesmoke;
  padding: 4rem 8rem;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .homeBody {
      padding: 3rem 5rem; } }
  @media screen and (max-width: 700px) {
    .homeBody {
      padding: 2rem; } }

.homemain__header {
  margin-bottom: 1.5rem; }

.homemain__para {
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: justify; }
